<!DOCTYPE html>
<html>
<head>
    <title>Books Information</title>
</head>
<body>
    <h1>Books Information</h1>
    <table>
        <tr>
            <th>ISBN</th>
            <th>Author</th>
            <th>Topic</th>
            <th>Total Stock</th>
            <th>Price</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
            <td>{{ book[4] }}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
